/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background: url('../img/imgLogin.jpg')no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Numans', sans-serif;
}
.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0,0,0,0.5) !important;
}
.navbar-inner {
    background-color:transparent;
    opacity : 0.9;
}
